.container__content{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
}

.content__cover > img {
   border: 5px solid grey;
   width: 500px;
   height: 100%
}

.content__description > p{
color: grey;
}

.button-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15% auto 0;
    width: 100px;
    height: 30px;
    
  }