<div class="container__content">
    <div class="content__cover">
        <img src="https://images.unsplash.com/photo-1499332309261-096aa86a939d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1623&q=80" alt="">
    </div>
    <div class="content__title">
        <h1>Conteudo</h1>
    </div>
    <div class="content__description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellat ullam nobis amet. Distinctio, sed quibusdam aut earum omnis minus ad. Illum culpa qui, laudantium debitis beatae modi! Corporis, nostrum.
        </p>
    </div>
</div>
